:root {
    --dark-gray: #9FABAE;
    --light-gray: #DFE3E4;
    --primary: blueviolet;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: 18px;
    margin: 100px auto;
    padding: 0;
}

li {
    position: relative;
    color: var(--dark-gray);
    padding: 0 24px;

    &:before {
        content: attr(data-step);
        position: absolute;
        top: -64px;
        left: calc(50% - 24px);
        background-color: var(--light-gray);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        top: -40px;
        background-color: red;
        left: 50%;
    }
}